@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: "technology";
  src: url("./assets/technology.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: #201f1f;
  color: #fff;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

main {
  width: 320px;
  background: #454545;
  padding: 2rem 1rem;
  border-radius: 25px;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 6px #0005;
  background: #474747;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px #000;
}

.output {
  padding: 0.5rem;
  border: 4px solid rgba(126, 126, 126, 0.6);
  border-radius: 10px;
  background: #20270773;
  height: 100px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 5px;
  text-align: right;
  color: green;
  font-family: "technology", serif;
  text-shadow: 0 0 1px rgb(0, 38, 255);
}

.output > div {
  overflow: hidden;
  position: relative;
}

.display {
  font-size: 30px;
}
.result {
  font-size: 45px;
}

p:not(.text) {
  position: absolute;
  opacity: 0.1;
  right: 0;
  top: 0;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

#clear {
  grid-area: 1 / 1 / 2 / 2;
  background: #912727;
}
#sign {
  grid-area: 1 / 2 / 2 / 3;
  background: #64571e;
}
#divide {
  grid-area: 1 / 3 / 2 / 4;
  background: #4f641e;
}
#multiply {
  grid-area: 1 / 4 / 2 / 5;
  background: #c0bd1779;
}
#minus {
  grid-area: 2 / 4 / 3 / 5;
  background: #4f641e;
}
#add {
  grid-area: 3 / 4 / 4 / 5;
  background: #64571e;
}
#equal {
  grid-area: 4 / 4 / 6 / 5;
  background: #912727;
  font-weight: 700;
}

#seven {
  grid-area: 2 / 1 / 3 / 2;
}
#eight {
  grid-area: 2 / 2 / 3 / 3;
}
#nine {
  grid-area: 2 / 3 / 3 / 4;
}
#four {
  grid-area: 3 / 1 / 4 / 2;
}
#five {
  grid-area: 3 / 2 / 4 / 3;
}
#six {
  grid-area: 3 / 3 / 4 / 4;
}
#one {
  grid-area: 4 / 1 / 5 / 2;
}
#two {
  grid-area: 4 / 2 / 5 / 3;
}
#three {
  grid-area: 4 / 3 / 5 / 4;
}
#zero {
  grid-area: 5 / 1 / 6 / 3;
}
#dot {
  grid-area: 5 / 3 / 6 / 4;
}
