* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  position: relative;
}

main {
  position: relative;
  max-width: 550px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.lot {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  gap: 1rem;
  justify-content: space-around;
}

.slot {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 2px 2px 10px #858585, -2px -2px 10px #ffffff;
}

.unbook {
  display: none;
}

.slot:hover .unbook {
  display: block;
}

.booked {
  height: 150px;
  display: grid;
  padding: 1rem;
  place-content: center;
  background: #73f7a1d8;
  border-radius: 10px;
}

.alert {
  position: absolute;
  right: -100px;
  opacity: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background: #85323217;
  box-shadow: 1px 1px 3px #853232, -1px -1px 3px #ff9090;
  transition: right 0.2s, opacity 0.1s;
}

.alert.visible {
  right: 1rem;
  opacity: 1;
}

form {
  gap: 1rem;
  max-width: max-content;
  margin: auto;
}

.form-group {
  margin: 1rem 0;
}

.dialog-box {
  position: fixed;
  top: 50vh;
  width: max-content;
  left: 50vw;
  transform: translate(-50%);
}
